<div>
  <% a=[] %><% b=[] %><% c=[] %><% d=[] %><% big=[] %><% small=[] %><% all=[] %>
  
  <%# 筛选数据库中所有的车辆记录，取日期最近的一行记录 %>
  <% r1 = HistoryRecord.select("vehiclenum,yljgname,max(starttime) t").group("yljgid,yljgname,vehiclenum") %>
  
  <%# 取定位历史数据库中所有医疗机构最近清运记录---d %>
  <% r1.each do |x| %>
    <% d << [x.yljgname,x.vehiclenum] %>
  <% end %>
  
  <%# 筛选数据库中所有未按时清运的车辆记录 %>
  <% r1 = HistoryRecord.find_by_sql("select vehiclenum,yljgname,t from (select vehiclenum,yljgname,max(starttime) t from historyrecord group by vehiclenum,yljgid,yljgname) z where z.t<'" + (Time.now-28800*6).to_s + "' order by vehiclenum") %>

  <%# 取定位历史数据库中未按时清运的医疗机构---b %>
  <% r1.each do |x| %>
    <% b << [x.yljgname,x.vehiclenum] %>
  <% end %>
  
  <%# 取配置表中所有有坐标值的医疗机构记录，亦即由车载定位设备监控的任务医疗机构，这里实际上就是大车---a %>
  <% r_all=Organization.all %>
  <% r_all.each do |x| %>
    <% if !x.lat.nil? %>
      <% a << [x.name,x.vehicle.name] %>
    <% end %>
  <% end %>
  
  <%# 医疗机构配置表中有，而且坐标不为空，但定位历史数据库中没有任何记录的医疗机构---c %>
  <% c=a-d %>
  
  <%# 取配置表中所有的车辆信息---all %>
  <%# 取配置表中所有的*大车*信息---big; *小车*信息---small %>
  <% Vehicle.all.each do |x| %>
    <% all << x.name %>
    <% if x.vehicletype.name=="压缩式垃圾车" then %>
      <% big << x.name %>
    <% else %>
      <% small << x.name %>
    <% end %>
  <% end %>

  <table id="missing_big">
    <thead>
      <tr><h3>当前共有 <font color=red><%=c.count+r1.count%></font> 个医疗机构未按时清运</h3></tr>
      <tr><h3>【大车当前未按时清运记录】</h3></tr>
      <tr><th>机构名称</th><th>负责车辆</th><th>上次清运</th></tr>
    </thead>
    <tbody id="group01_big">
    <% color1="#F0FFF0" %>
    <% color2="#FFECEC" %>
    <% color=color1 %>
    <% cv=nil%>

    <%# 输出无记录医疗机构及负责车辆 %>
    <% c.each do |x| %>
      <tr bgcolor="yellow">
        <td><%= x[0] %></td>
        <td><%= x[1] %></td>
        <td>无记录</td>
      </tr>
    <% end %>

    <% r1.each do |a| %>
      <% if big.include?a.vehiclenum then %>
	      <% if cv!=a.vehiclenum then %>
	        <% if color==color1 then color=color2 else color=color1 %><% end %>
	      <% end %>
	      <tr bgcolor="<%=color%>">
	        <td><%= a.yljgname %></td>
	        <td><%= a.vehiclenum %></td>
	        <td><%= a.t %></td>
	      </tr>
	      <% cv=a.vehiclenum %>
      <% end %>
    <% end %>
    
    </tbody>
  </table>
  <div>
    <a href="#" onclick="page01_big.firstPage();">首 页</a>/<a href="#" onclick="page01_big.nextPage();">下一页</a>/<a href="#" onclick="page01_big.prePage();">上一页</a>/<a href="#" onclick="page01_big.lastPage();">末 页</a><span id="divFood_big"></span>/第 
    <input id="pageno_big" value="1" style="width:20px"/>页/<a href="#" onclick="page01_big.aimPage();">跳转</a>
  </div> 
  <script>var page01_big = new Page(16,'missing_big','group01_big','divFood_big','pageno_big')</script>
</div>
