<div>
  <% r1 = HistoryRecord.select("vehiclenum,yljgname,max(starttime) t").group("yljgid,yljgname,vehiclenum") %>
  <% b=[] %>
  <% r1.each do |x| %>
    <% b << [x.yljgname,x.vehiclenum] %>
  <% end %>
  <% r1 = HistoryRecord.find_by_sql("select vehiclenum,yljgname,t from (select vehiclenum,yljgname,max(starttime) t from historyrecord group by vehiclenum,yljgid,yljgname) z where z.t<'" + (Time.now-28800*6).to_s + "' order by vehiclenum") %>
  <% r_all=Organization.all %>
  <% a=[] %><% c=[] %>
  <% r_all.each do |x| %>
    <% a << [x.name,x.vehicle.name] %>
  <% end %>
  <% c=a-b %>
  <% big=[] %><% all=[] %>
  <% Vehicle.all.each do |x| %>
    <% all << x.name %>
    <% if x.vehicletype.name=="压缩式垃圾车" then %>
      <% big << x.name %>
    <% end %>
  <% end %>

  <center><p class="alarm">目前共 <%= (c.count+r1.count).to_s %> 家医疗机构未按规定清运</p></center>
  <table id="missing_big">
    <thead>
      <tr>【大车统计】</th>
      <tr><th>机构名称</th><th>负责车辆</th><th>上次清运</th>
    </thead>
    <tbody id="group01_big">
    <% color1="#F0FFF0" %>
    <% color2="#FFECEC" %>
    <% color=color1 %>
    <% cv=nil%>

    <% r1.each do |a| %>
      <% if big.include?a.vehiclenum then %>
      <% if cv!=a.vehiclenum then %>
        <% if color==color1 then color=color2 else color=color1 %> <% end %>
        <% c.each do |x| %>
          <% if x[1]==a.vehiclenum then %>
          <tr bgcolor="<%=color%>">
            <td><%= x[0] %></td>
            <td><%= x[1] %></td>
            <td>无记录</td>
          </tr>
          <%end%>
        <% end %>
      <% end %>
      <tr bgcolor="<%=color%>">
        <td><%= a.yljgname %></td>
        <td><%= a.vehiclenum %></td>
        <td><%= a.t %></td>
      </tr>
      <% cv=a.vehiclenum %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div>
    <a href="#" onclick="page01_big.firstPage();">首 页</a>/<a href="#" onclick="page01_big.nextPage();">下一页</a>/<a href="#" onclick="page01_big.prePage();">上一页</a>/<a href="#" onclick="page01_big.lastPage();">末 页</a><span id="divFood_big"></span>/第 
    <input id="pageno_big" value="1" style="width:20px"/>页/<a href="#" onclick="page01_big.aimPage();">跳转</a>
  </div> 
  <script>var page01_big = new Page(8,'missing_big','group01_big','divFood_big','pageno_big')</script>


  <br>
  <table id="missing">
    <thead>
      <tr>【小车统计】</th>
      <tr><th>机构名称</th><th>负责车辆</th><th>上次清运</th>
    </thead>
    <tbody id="group01">
    <% color1="#F0FFF0" %>
    <% color2="#FFECEC" %>
    <% color=color1 %>
    <% cv=nil%>

    <% r1.each do |a| %>
      <% unless big.include?a.vehiclenum then %>
      <% if cv!=a.vehiclenum then %>
        <% if color==color1 then color=color2 else color=color1 %> <% end %>
        <% c.each do |x| %>
          <% if x[1]==a.vehiclenum then %>
          <tr bgcolor="<%=color%>">
            <td><%= x[0] %></td>
            <td><%= x[1] %></td>
            <td>无记录</td>
          </tr>
          <%end%>
        <% end %>
      <% end %>
      <tr bgcolor="<%=color%>">
        <td><%= a.yljgname %></td>
        <td><%= a.vehiclenum %></td>
        <td><%= a.t %></td>
      </tr>
      <% cv=a.vehiclenum %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div>
    <a href="#" onclick="page01.firstPage();">首 页</a>/<a href="#" onclick="page01.nextPage();">下一页</a>/<a href="#" onclick="page01.prePage();">上一页</a>/<a href="#" onclick="page01.lastPage();">末 页</a><span id="divFood"></span>/第 
    <input id="pageno" value="1" style="width:20px"/>页/<a href="#" onclick="page01.aimPage();">跳转</a>
  </div> 
  <script>var page01 = new Page(8,'missing','group01','divFood','pageno')</script>
</div>
